.App {
  background-color: #f9f9f9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #26cfb9;
  padding: 150px;
  height: 150px;
  border-radius: 10px;
  font-family: HelveticaNeue;
  text-align: center;
}

.HeaderText {
  font-size: 48px;
}

.Slogan {
  font-size: 2em;
}

.Overview, .TargetUsers, .Solution {
  background-color: #f9f9f9;
}

.Overview {
  padding-left: 100px;
  padding-right: 100px;
}

.TargetUsersCards {
  display: flex;
}
.Chef, .Eater {
  background-color: #ffffff;
  border-radius: 10px;
  flex: 1 1 50%;
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin: 30px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2, h3 {
  text-align: center;
}
